#--------------------------------------------------------------------
# Example Environment Configuration file
#
# This file can be used as a starting point for your own
# custom .env files, and contains most of the possible settings
# available in a default install.
#
# By default, all of the settings are commented out. If you want
# to override the setting, you must un-comment it by removing the '#'
# at the beginning of the line.
#
# If you have trouble with `.`, you could also use `_`.
# app.baseURL = ''
# app_baseURL = ''

#--------------------------------------------------------------------

#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

# CI_ENVIRONMENT = production
CI_ENVIRONMENT = development		

#--------------------------------------------------------------------
# APP
#--------------------------------------------------------------------

# app.baseURL = 'https://example.com' #full domain including protocol and tailing /
app.indexPage = '' #default index.php

# app.forceGlobalSecureRequests = false
# app.CSPEnabled = false

#--------------------------------------------------------------------
# DATABASE
#--------------------------------------------------------------------

# database.default.hostname = localhost
# database.default.database = database
# database.default.username = root
# database.default.password = root
# database.default.DBDriver = MySQLi
# database.default.DBPrefix =
# database.default.port = 3306

# sqlite3
database.default.database = sqlite.db
database.default.DBDriver = SQLite3

#--------------------------------------------------------------------
# ENCRYPTION
# https://codeigniter.com/userguide3/libraries/encrypt.html#setting-your-key
# 32 Char string is the best, use a random MD5 generator.
#--------------------------------------------------------------------

# encryption.key = 

#--------------------------------------------------------------------
# SESSION
#--------------------------------------------------------------------

# session.driver = 'CodeIgniter\Session\Handlers\FileHandler'
# session.savePath = null

#--------------------------------------------------------------------
# LOGGER
#--------------------------------------------------------------------

# logger.threshold = 4

#--------------------------------------------------------------------
# EMAIL (voor factuurverzending)
#--------------------------------------------------------------------

email.fromEmail = app@starter.nl
email.fromName = "app - Starter"
# email.protocol = mail # mail, sendmail, smtp
# email.SMTPHost = smtp.starter.nl
# email.SMTPUser = jouw-gebruiker
# email.SMTPPass = jouw-wachtwoord
# email.SMTPPort = 587
# email.SMTPCrypto = tls # leave empty, tls, or ssl


















# Development
CI_ENVIRONMENT = development
app.baseURL = 'http://example.com/' #Always use the full path to index.php and use a trailing slash on your base URL! Also think about the protocol, the debug toolbar is very picky about this. use current_url(); to check what url the app sees.
app.indexPage = ''

# production
# CI_ENVIRONMENT = production
# app.baseURL = 'http://example.com/' #Always use the full path to index.php and use a trailing slash on your base URL! Also think about the protocol, the debug toolbar is very picky about this. use current_url(); to check what url the app sees.
# app.indexPage = ''

database.default.DBDriver = SQLite3
database.default.database = database.db